# Max/MSP – backups y archivos temporales
*.maxpat~
*.maxhelp~
*.amax~
*.maxproject~
*.amxd

# Carpetas locales de Max (si las llegas a subir)
Max Windows/
Max Help/
**/Max Audio MIDI Settings/
**/searchpath/

# Audio temporal (no los samples finales)
*.wav~
*.aif~
*.mp3.temp
audio/cache/
audio/temp/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
*.swp
*.swo
